a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

form {
    margin: 0;
    padding: 0;
}

h1 {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 40px;
    padding: 0;
}

img {
    margin: 0 auto;
    display: block;
}

li.description {
    text-transform: capitalize;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

}


.active {
    text-decoration: none;
    color: black;
    cursor: default;
    
}

.active:hover {
    text-decoration: none;
    color: black;
    cursor: default;
    
}


.big-temp {
    text-align: center;
    padding: 0;
    margin: 0;
}

.btn {
    margin: 0;
}

.btn-secondary {
    width: 100%;
}

.btn-primary {
    margin: 0;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    top: 20px;
}

.city-search {
    display: block;
    margin: 0 auto;
}

.col.main-forecast {
margin-top: 0px;
margin-left: 40px;
margin-bottom: 40px;

}

.col-2 {
    margin: 0 auto;
    padding: 0;
}

.col-3 {
    margin: 0 auto;
    padding: 0;
}
.col-6 {
    margin: 0 auto;
    padding: 0;
}

.col-auto {
    margin-right: 5px;
    padding: 0px;
}

.credit {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}

.forecast-col {
    display: inline;
    text-align: center;
}

.forecast-details {
    position: relative;
    top: 25px;
}

.forecast-icon {
    font-size: 30px;
    margin: 5px;
}

.forecast-week {
    text-align: center;
}

.low {
    color: #808080;
}

.row.search-bar {
    margin: 0;
    align-items: center;
    justify-content: center;
}

.search-field {
    display: inline;
}

.search-form {
    padding: 10px;
    margin: 0;
}

.weather-icon {
    margin: 0 auto;
}


.week-forecast {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}